body {
  background-color: #f0e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.logo {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 160px;
  height: auto;
  margin-top: 15px;
}

header {
  text-align: center;
}

/*background color & text color*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
}

/*spacing & padding*/
.nav {
  list-style: none;
  padding: 0;
  display: block;
  text-align: center;
}

/*list item styling*/
.nav li {
  display: inline;
  margin-right: 35px;
  font-size: 16px;
  font-weight: thin;
  font-family: Arial, Helvetica, sans-serif;
}

/*link styling*/
.nav a {
  text-decoration: none;
  color: rgb(94, 89, 89);
}

/*link styling*/
.nav a:hover {
  text-decoration: underline;
  color: #b45e6d;
  font-weight: bold;
}

.App {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel .thumbs {
  display: none;
}

.carousel .thumb.selected {
  display: none;
}

.main-carousel {
  max-width: 100%;
  margin: 0 auto;
}

.carousel .slider-wrapper {
  height: 500px;
}

.carousel .slider {
  height: 100%;
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 75%;
  left: 20%; 
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  background-color: white; /* Set background color */
  color: #b45e6d; /* Set text color */
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: thin;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: #f0e9e9;
  font-weight: bold;
  text-decoration: underline;
}