body {
  background-color: #f0e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* logo */

.logo {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 200px;
  height: auto;
  margin-top: 15px;
}

/* nav bar */

header {
  text-align: center;
}

.nav {
  list-style: none;
  padding: 0;
  display: block;
  text-align: center;
}

.nav li {
  display: inline;
  margin-right: 15px;
}
