.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-slide {
  width: 100%;
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

#prev-button,
#next-button {
  cursor: pointer;
}