.productCarousel {
    overflow: hidden;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

.buttonContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    flex-direction: row;
}

.slickArrow {
    background: none;
    border: none;
    outline: none;
  }

  .slickArrow:active, .slickArrow:focus {
    background: none;
    border: none;
    outline: none;
  }

.imageList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width: 100vw;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.productCarousel {
    scroll-snap-align: start;
  }